.highlight {
    color: red;
}

/* External CSS file or within a <style> tag */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index:9998;
  }
  
  .modal-text {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center; /* Center the text */
    line-height: 1.5; /* Adjust line height for better readability */
    padding: 10px 0; /* Add some padding for spacing */
}

.modal-counter {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center; /* Center the text */
    line-height: 1.5; /* Adjust line height for better readability */
    margin: 10px 0; /* Add some margin for spacing */
    margin-top: 35px;
}
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    width: 60vw; /* 60% of the viewport width */
    max-width: 1200px; /* Optional: Set a maximum width to prevent the modal from becoming too wide on very large screens */
    z-index: 9998;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Generate Button Styling */
  .modal-btn {
    background-color: #b6b6b6; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block element */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Elevation effect */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 300px;
    font-family: sans-serif;
    font-weight: 400;
  }

  .modal-btn-gen {
    background-color: #b6b6b6; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block element */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Elevation effect */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    margin-left: 110px;
    position: absolute;
    bottom: 300px;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  .open-modal-button {
    width: 30px; /* Adjust the size of the button */
    height: 30px; /* Adjust the size of the button */
    border-radius: 50%; /* Makes the button circular */
    background-color: #98b0ff; /* Background color */
    margin-left: 30px;
    color: rgb(0, 0, 0); /* Text color */
    border: #888; /* Removes the default button border */
    display: flex; /* Allows us to center the logo */
    justify-content: center; /* Centers the logo horizontally */
    align-items: center; /* Centers the logo vertically */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    z-index: 9998;
  }

  .modal-btn:hover {
    background-color: #979797;
  }

  .modal-btn-gen:hover {
    background-color: #979797;
  }

  .logo {
    font-size: 24px;
  }

  .svg {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }